files:
  "/var/lib/docker/volumes/my-named-shared-data/_data/service_data.json" :
    mode: "000755"
    owner: root
    group: root
    content: |
      ["hawaii", "sf", "chicago"] 
  "/var/lib/docker/volumes/my-named-shared-data/_data/price_data.json" :
    mode: "000755"
    owner: root
    group: root
    content: |
      {
      "hawaii": "1450.95",
      "sf": "1758:79",
      "chicago": "3333.78"
      } 
